/jmxtools-1.2.1.jar
/com.springsource.org.apache.commons.logging-1.1.1.jar
/com.springsource.org.apache.log4j-1.2.15.jar
/org.springframework.asm-3.0.1.RELEASE-A.jar
/org.springframework.beans-3.0.1.RELEASE-A.jar
/org.springframework.beans-3.1.2.release.jar
/org.springframework.context-3.0.1.RELEASE-A.jar
/org.springframework.core-3.0.1.RELEASE-A.jar
/org.springframework.expression-3.0.1.RELEASE-A.jar
/spring-core-5.0.5.RELEASE.jar
